# Сміття Visual Studio
.vs/
*.user
*.suo
*.db
*.opendb

# Папки з компільованим кодом
x64/
x86/
Debug/
Release/

# Ігнор важких образів дисків
*.img
!tests/text_ext2.img
!tests/text_ext3.img
!tests/text_ext4.img
*.vhd
*.vhdx
*.iso